html, body{
    margin: 0;
    font-family: 'Karla', sans-serif;  
}

h1, h2, h3{
    text-align: center;
}

h1, h2{
    color: #EED6D3;
    margin: 0;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 1.7rem;
}

header{
    background-color: #67595E;
}

.header-inner{
    display: flex;
    align-items: center;
    width: 370px;
    margin: 0 auto;
    gap: 15px;
    padding-top: 10px;
}

.pumpkin-img{
    width: 80px;
}

.main{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto auto;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.generate-emotion{
    background-color: #67595e;
    color: #eed6d3;
    padding: 15px 19px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    margin-bottom: 8px;
    cursor: pointer;
}

.select-emotion{
    display: none;
    background-color: #67595e;
    color: #eed6d3;
    padding: 15px 19px;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 8px;
    cursor: pointer;
    /* -moz-appearance: none; */
    /* for Safari, Chrome, Opera */
    /* -webkit-appearance: none; */ 
}